<!doctype html>
<html>
	<head>
		<title>{% block title %}{{ load_component("_title") }}{% endblock %}</title>
		{{ load_scss("scss/main.scss") }}
	</head>
	<body>
		{% if has_component("main_content") %}
			<h1>{{ load_component("main_content") }}</h1>
		{% endif %}
		{% for page in get_sub_pages() %}
			<p>{{ page }}
				-- {{ load_component("main_content", page) }} </p>
		{% endfor %}
	</body>
</html>